*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Manrope";
    src: url("Manrope/static/Manrope-Light.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Manrope Bold";
    src: url("Manrope/static/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}

body{
    height: 100%;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.bigcontainer{
    margin: auto;
    width: 330px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    line-height: 1.6;
    color:  hsl(217, 19%, 35%);
    font-family: "Manrope";
} 

img{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    height: auto;
}
header p{
    font-family: "Manrope Bold";
    font-size: 18px;
    margin: 20px 20px 5px;
}
main{
    font-size: 13px;
    padding: 20px;
}
footer{
    padding: 20px;
    font-size: 14px;
}
figure{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 95%;

}

#avatar{
    width: 3rem;
    height: auto;
    border-radius: 50%;
}

button{
    all: unset;
    border: none;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    flex-shrink: 0;
}

strong{
    display: block;
}

figure p{
    color: hsl(210, 46%, 95%);
    letter-spacing: 5px;
}

.bubbleContainer{
    position: relative;
    width: 30%;
    text-align: right;

}

.speech-bubble{
    position: absolute;
    bottom: 200%;
    left: 87%;
    transform: translateX(-50%);
    background:  hsl(217, 19%, 35%);
    border-radius: 15px;
    padding: 15px 35px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: hsl(210, 46%, 95%);
    letter-spacing: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
  
.speech-bubble::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color:  hsl(217, 19%, 35%) transparent transparent transparent;
}
  
@media screen and (min-width: 1000px) {
    .bigcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 780px;
    }
    main{
        width: 370px;
    }
    header{
        width: 370px;
    }
    #drawer{
        width: 50%;
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
        object-fit: cover;
    }
    #secondarycontainer{
        width: 50%;
    }
}